
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
    border-radius: 5px;
    padding-top: 20px;
  }

.file-upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 200px;
  }
  
  .uploaded-row{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 40px;
    border-radius: 5px;
   
  }
  
  .upload-content{
    display: flex;
    align-items: center;
  }
  